@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    padding: 12px;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

.header a {
    text-decoration: none;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}
.right-links a {
    font-size: 18px;
    color: #e5e7ebd3;
    display: flex;
}

.hero-container {
    display: flex;
    width: 500px;
    flex-direction: column;
}
.hero img {
    width: 500px;
    height: 200px;
    background-color: gray;
}

.hero {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    padding: 100px;
    gap: 50px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.secondary-text {
    font-size: 18px;
    color: #e5e7ebd3;
}

.sign-up {
    width: 100px;
    background: #3882F6;
    color: #f9faf8;
    padding: 6px;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0px 150px 0px;
}

.info-title {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin-bottom: 50px;
}

.info-container {
    display: flex;
    width: 150px;
    justify-content: space-around;
    gap: 50px;
}

.img {
    border-radius: 25px;
    border: 2px solid #3882F6;
    padding: 20px; 
    width: 150px;
    height: 150px;
}

.info-sub{
    padding: 10px;
    color: #999a9c;
    
}
.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7ebd3;
    padding: 100px;
}

.quote-container {
    width: 850px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1f293785;
}

.signature {
    font-weight: 800;
    display: flex;
    justify-content: flex-end;
    margin-right: 80px;
}